{% load staticfiles %}
<html>
    <head>
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <title>Django Girls Blog Tutorial</title>
    </head>
    <body>
        <div class="page-header">
{% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu">new</a>
{% endif %}
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
