{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
{% if post.published_date %}
        <div class="date">
            <p>published:</p>
            <p class="day">{{ post.published_date|date:'d' }}</p>
            <p class="month">{{ post.published_date|date:'m' }}</p>
            <p class="year">{{ post.published_date|date:'Y' }}</p>
        </div>

    {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'post_unpublish' pk=post.pk %}">Hide</a>
    {% endif %}
{% else %}
        <div class="date">
            <p>created:</p>
            <p class="day">{{ post.created_date|date:'d' }}</p>
            <p class="month">{{ post.created_date|date:'m' }}</p>
            <p class="year">{{ post.created_date|date:'Y' }}</p>
        </div>
    {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">Edit</a>
        <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}">Delete</a>
        <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
    {% endif %}

{% endif %}

        <div class="article_outer">
            <div class="article_inner">
                <div class="title">
                    <p><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></p>
                </div>
                <div class="text">
                    <p>{{ post.text|linebreaks }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
